.App {
  text-align: center;
}

.banner {
  background-image: url("will-van-wingerden-102454-unsplash.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  margin-top: 0px;
}

.searchBox {
  
  border: 1px solid;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  width: 33%;
  
  background-color: white;
}

